/* Fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(50, 62, 100);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
   
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.form-container h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-weight: 600;
    color: white;
    margin-bottom: 8px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid ;
    border-radius: 8px;
   
    font-size: 16px;
    transition: all 0.3s ease;
    color: #333;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #4a90e2;
   
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.5);
}

.form-group textarea {
    height: 120px;
    resize: none;
}

.submit-btn {
    background-color: red;
  
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
    background-color: red;
    transform: translateY(-2px);
}

.submit-btn:active {
    background-color: red;
    transform: translateY(0);
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

.privacy {
    font-size: 14px;
    color: white;
}
